In [1]:
# SQLiteのRDBを読み込み、dfに代入
#必要なライブラリのインポート
import pandas as pd
import sqlite3
# 作成済のdatabaseに接続する。
conn = sqlite3.connect('suumo_loc.db')

# databaseをクエリで実行した結果を読み込み、dfに代入。
query = "SELECT * FROM suumo_loc"
df = pd.read_sql(query, conn)

In [2]:
df[['address', 'lat', 'lon']].query('lat != lat')

           address  lat  lon
52    神奈川県横浜市磯子区上町  NaN  NaN
410    東京都目黒区三田２丁目  NaN  NaN
697    東京都目黒区三田２丁目  NaN  NaN
698    東京都目黒区三田２丁目  NaN  NaN
977    東京都目黒区三田２丁目  NaN  NaN
1060   東京都台東区三筋１丁目  NaN  NaN
1100   東京都目黒区三田１丁目  NaN  NaN
1207   東京都目黒区三田２丁目  NaN  NaN
1543  東京都台東区三ノ輪１丁目  NaN  NaN
1620  東京都台東区三ノ輪１丁目  NaN  NaN
1761   東京都品川区八潮５丁目  NaN  NaN
1771   東京都品川区八潮５丁目  NaN  NaN
1787   東京都品川区八潮５丁目  NaN  NaN
1870  東京都中央区八丁堀３丁目  NaN  NaN
1916  東京都中央区八丁堀３丁目  NaN  NaN
1934    東京都港区三田４丁目  NaN  NaN
1978  東京都中央区八丁堀３丁目  NaN  NaN
1979  東京都中央区八丁堀３丁目  NaN  NaN
1980  東京都中央区八丁堀３丁目  NaN  NaN
1981  東京都中央区八丁堀３丁目  NaN  NaN
1982  東京都中央区八丁堀３丁目  NaN  NaN
1983  東京都中央区八丁堀３丁目  NaN  NaN
2076    東京都港区三田４丁目  NaN  NaN
2190    東京都港区三田３丁目  NaN  NaN
2341    東京都港区三田２丁目  NaN  NaN
2380    東京都港区三田５丁目  NaN  NaN
2381   東京都台東区三筋２丁目  NaN  NaN
2544    東京都港区三田３丁目  NaN  NaN
2652   東京都目黒区八雲４丁目  NaN  NaN
2677  東京都中央区八丁堀３丁目  NaN  NaN
2693  東京都中央区八丁堀３丁目  NaN  NaN
2796  東京都中央区八丁堀３丁目  NaN  NaN
2884    東京都港区三田５丁目  NaN  NaN
2961  東京都台東区三ノ輪１丁目  NaN  NaN

In [4]:
from geopy.geocoders import Nominatim
import pandas as pd
import tqdm
geolocator = Nominatim(user_agent="suumo", timeout=10)

# 住所データ
addresses = ['神奈川県横浜市磯子区上町']  # ここに住所リスト

# 緯度経度に変換
locations = []
for address in tqdm.tqdm(addresses):
    try:
        location = geolocator.geocode(address)
        if location:
            locations.append((location.latitude, location.longitude))
        else:
            locations.append((None, None))
    except Exception as e:
        locations.append((None, None))
df_ = pd.DataFrame(locations, columns=['lat', 'lon'])
df_

100%|██████████| 1/1 [00:01<00:00,  1.30s/it]

    lat   lon
0  None  None

In [8]:
#必要なライブラリのインポート
import sqlite3
# databaseに接続する。指定したdatabaseが存在しない場合は、新規作成される。
conn = sqlite3.connect('suumo_loc.db')
# 物件情報が入ったdfをsqlに書き出す。
df.to_sql('suumo_loc', conn, if_exists='replace', index=False)

3008